* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI";
}

.header {
  text-align: center;
  font-variant: small-caps;
}

.todo {
  padding: .5em;
  border: solid 1px #dfdfdf;
  margin-top: -1px;
}

.todo.done {
  text-decoration: line-through;
}

.todo.animating {
  transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.todo-list {
  overflow: hidden;
}