* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI";
  background-color: #333;
}

.todo-list {
  overflow: hidden;
}

.todo {
  color: #fff;
  font-weight: bold;
  padding: 1em;
}

.todo.done {
  text-decoration: line-through;
  background-color: #444 !important;
  color: #777;
}

.todo.animating {
  transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}