* {
  margin: 0;
  padding: 0;
}

html,
body,
#todo-app {
  height: 100%;
}

body {
  font-family: "Segoe UI";
  background-color: #333;
}

.todo-list {
  height: 100%;
  position: relative;
  /*margin-top: -53px;*/ /* for new item row */
}

.todo {
  position: absolute;
  top: 0;
  left: 0;
  transition: background .4s, box-shadow .4s
}

.todo,
.new-item-input,
.new-item-row-hint-text {
  color: #fff;
  font-weight: bold;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
}

.new-item-row   {
  position: absolute;
  top: -53px;
  left: 0;
  z-index: 100;
  transform-origin: bottom;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}

.new-item-input {
  background-color: hsl(354.1,100%,48%);
  -webkit-appearance: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

.new-item-row-hint-text {
  position: absolute;
  top: 0;
  left: 0;
}

.new-item-row-hint-text span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
}

.todo.done {
  text-decoration: line-through;
  background-color: #444 !important;
  color: #777;
}

.todo.animating {
  transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.todo.just-toggled {
  background-color: #399131 !important;
  text-decoration: line-through;
}

.new-item-text {
  position: relative;
}

.new-item-text span {
  transition: opacity .2s;
}

/*.new-item-text span:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  }*/

  .backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color rgba(0,0,0,.8);
    z-index: 1;
  }